{% extends "routes/layout.html" %}
{% block title %}
    Contact Information
{% endblock %}

{% block content %}
<!--Top Spacing-->
<br><br><br>

<!--Page body-->
<div class="container text-center">

    <!--Title-->
    <h2 class="text-center">
        Contact Info
    </h2>
    <div class="form-group row justify-content-center">
        <div class="col-md-4">
            <form id="contactInfo">

                <!--Provide a Name-->
                <label for="formName">
                    Name: <font color="red">*</font>
                </label>
                <input type="text" id="formName" class="form-control text-center" placeholder="First Last" size="30" required>
                <br>

                <!--Provide a Phone Number-->
                <label for="formPhone">
                    Phone Number: <font color="red">*</font>
                </label>
                <br>
                <small>
                    Format: 1234567890
                </small>
                <input type="tel" id="formPhone" class="form-control text-center" placeholder="1234567890" size="10" maxlength="10" required>
                <br>

                <!--Provide an Email-->
                <label for="formEmail">
                    Email: <font color="red">*</font>
                </label>
                <input type="email" id="formEmail" class="form-control text-center" placeholder="ex.ample@email.com" size="40" required>
                <br>

                <!--Submit and Continue Button-->
                <button onclick="window.location.href='/twine'" type="submit" class="btn btn-center btn-lg btn-success" id="continueButton" disabled>
                    Twine Time
                </button>
            </form>    
        </div>
    </div>

<!--Bottom Spacing-->
<br><br><br><br><br>

<!--JavaScript Functions-->
<script>
    //Declaration of constants by ID
    const inputFieldName = document.getElementById('formName');
    const inputFieldPhone = document.getElementById('formPhone');
    const inputFieldEmail = document.getElementById('formEmail');
    const continueButton = document.getElementById('continueButton');

    //Event listener for input in box
    inputFieldName.addEventListener('input', activateContinue);
    inputFieldPhone.addEventListener('input', activateContinue);
    inputFieldEmail.addEventListener('input', activateContinue);

    //Function to enable button
    function activateContinue() {
        const inputNameFilled = inputFieldName.value.trim() !== '';
        const inputPhoneFilled = inputFieldPhone.value.trim() !== '';
        const inputEmailFilled = inputFieldEmail.value.trim() !== '';

        continueButton.disabled = !(inputNameFilled && inputPhoneFilled && inputEmailFilled);
    };

    // Handle form submission
    var contactInfo = document.getElementById("contactInfo");
    contactInfo.addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent form submission

        // Retrieve user input from form fields
        var name = document.getElementById("formName").value;
        var phone = document.getElementById("formPhone").value;
        var email = document.getElementById("formEmail").value;

        // Store the input values in local storage
        localStorage.setItem("formName", name);
        localStorage.setItem("formPhone", phone);
        localStorage.setItem("formEmail", email);
    });
</script>
{% endblock %}