{% extends "routes/layout.html" %}
{% block title %}
    Contact Information
{% endblock %}

{% block content %}
<br>
<br>
<br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="text-center">Contact Info</h2>
                <div class="form-group">
                    <label for="formName">Name:</label>
                    <input type="text" id="formName" class="form-control" placeholder="First Last" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="formPhone">Phone Number:</label>
                    <br>
                    <small>Format: 123-456-7890</small>
                    <input type="tel" id="formPhone" class="form-control" placeholder="123-456-7890" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="formEmail">Email:</label>
                    <input type="email" id="formEmail" class="form-control" placeholder="ex.ample@email.com" required>
                </div>
                <br>
                <div>
                    <label>Would you like the pick-up/delivery service?</label>
                </div>
                <div>
                    <label><input type="radio" name="PU/D" value="yes" required onclick="showInputAddr()">Yes, please!</label>
                    <br>
                    <label><input type="radio" name="PU/D" value="no" onclick="hideInput()">No, I will bring my racket to you as well as pick it up!</label>
                </div>
                <br>
                <div id="formAddress" style="display: none;">
                    <div>
                        <label>Where should I come to pick-up and deliver your racket?</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="formStreet">Street Address:</label>
                        <input type="text" id="formStreet" class="form-control" placeholder="123 Main Street" required>
                    </div>
                    <div class="form-group">
                        <label for="formApt">Apt/Suite/Other:</label>
                        <input type="text" id="formApt" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="formCity">City:</label>
                        <input type="text" id="formCity" class="form-control" placeholder="City" required>
                    </div>
                    <div class="form-group">
                        <label for="formState">State:</label>
                        <input type="text" id="formState" class="form-control" placeholder="State" required>
                    </div>
                    <div class="form-group">
                        <label for="formZip">ZIP Code:</label>
                        <input type="number" id="formZip" class="form-control" placeholder="12345" required>
                    </div>
                </div>    
            </div>

            <div class="col">
                <h2 class="text-center">Let's Talk Twine</h2>
                <div>
                    <label>Would you like to use our string inventory or provide string?</label>
                </div>
                <br>
                <div>
                    <label><input type="radio" name="stringSource" value="use" required onclick="showInput()">I will use the inventory!</label>
                    <br>
                    <label><input type="radio" name="stringSource" value="provide" onclick="hideInput()">I will provide the string with the Racket!</label>
                </div>
                    <div id="formTwineTalk" style="display: none">
                            <div class="form-group">
                                <label for="formRacket">What kind of racket do you use?</label>
                                <input type="text" id="formRacket" class="form-control">
                            </div>
                            <br>
                            <div>
                                <label>Strings requested in mains?</label>
                            </div>
                            <div>
                                <label><input type="radio" name="stringMain" value="option 1" required>Option 1</label>
                                <br>
                                <label><input type="radio" name="stringMain" value="option 2">Option 2</label>
                                <br>
                                <label><input type="radio" name="stringMain" value="option 3">Option 3</label>
                            </div> 
                    </div>
            </div>
        </div>
    </div>

    <script>
        function showInputAddr() {
            document.getElementById("formAddress").style.display = "block";
        }

        function hideInput() {
            document.getElementById("formAddress").style.display = "none";
        }
    </script>


{% endblock %}