{% extends "routes/layout.html" %}
{% block title %}
    Home
{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <h1 class="text-center">Welcome!</h1>
    <p class="text-center">Whether you are just beginning your tennis journey,<br>
        or you are an experienced player, new strings are a part of<br>
        the game. Don't let the inconvenience of a string job keep you off the court! <br>
        We allow you to determine the most convenient days and times for the job to be completed. <br>
        Here, your racket can be (1) picked up and delivered by us, or (2) dropped off <br>
        to the stringer by you, the user!</p>
    <br>
    <hr>
    <br>
        <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="text-center">Our Mission</h2>
                <p class="text-center">At Tennis Twine, our goal is to get your racket stringed 
                    up and back to you in the most convenient manner. As an OU student, this is 
                    an opportunity for me to support the surrounding communities while earning funds and gaining experience. 
                    Here, you set the pick-up and delivery location as well as determine when the job gets done!
                </p>
            </div>
            <div class="col">
                <h2 class="text-center">Our Service</h2>
                <p class="text-center">We recognize that there are plenty of racket stringing 
                    services from which you can choose. At Tennis Twine, we hope to improve the experience 
                    by coming to you; we will do the traveling and stringing by the date that you set. Aside 
                    from this, we offer lessons on that new set of strings at whichever courts are convenient for you! 
                    We would appreciate any feedback on the process as well!
                </p>           
            </div>
            <div class="col">
                <h2 class="text-center">How to Get Started</h2>
                <p class="text-center">To begin, all that you need to do is press the start button! 
                    Begin by sharing your contact information including your address if you would like the 
                    pick-up/delivery service. Following this, give us the specifics of the  desired string job like 
                    tension and string type, date of transfer, and your interest in a lesson. 
                </p>
                <div class="text-center">
                    <button onclick="window.location.href='/contact'" type="button" class="btn btn-center btn-lg btn-success">Get Started</button>
                </div>
            </div>
        </div>
    <br>
    <br>    

{% endblock %}