{% extends "routes/layout.html" %}
{% block title %}
    Lesson Option
{% endblock %}

{% block content %}
<br><br><br>
<p class="text-center"><font color="red">*</font> = Required</p>
<h1 class="text-center">
    How About a Lesson?
</h1>
<p class="text-center">
    I would love to work with you on developing your game on the court! <br>
    The rate for an hour long private lesson is $20. After purchasing 3 string jobs, the private lesson is on me!
</p>
<br>
<div class="text-center">
    <label class="text-center">
        Would you like to meet up for some instruction? <font color="red">*</font>
    </label>
</div>
<div class="text-center">
    <label>
        <input type="radio" name="lesson" value="yes" required onclick="showInputLesson(), hideInputNoLesson()">
        Sure!
    </label>
    <br>
    <label>
        <input type="radio" name="lesson" value="no" onclick="hideInputLesson(), showInputNoLesson()">
        Maybe next time!
    </label>
</div>

<!--Lesson Do-->
<br>
<div id="lessonFollowUp" style="display: none;">
    <h4 class="text-center">
        Thats great to hear!
    </h4>
    <br>
    <div class="form-group text-center">
        <form id="lessonInfo">
            <label for="lessonWork">
                Provide a few aspects of the game you would like to improve upon! <font color="red">*</font>
            </label>
            <input type="text" id="lessonWork" class="form-control mx-auto" style="width: 400px" placeholder="Serve, Volley, Backhand, etc.">
            <hr>
            <div class="container">
                <div class="row align-items-center">
                    <button onclick="window.location.href='/summary'" type="submit" id="submitContinue" class="btn btn-center btn-lg btn-success" disabled>
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Lesson Don't-->
<br>
<div id="nextTime" style="display: none;">
    <h4 class="text-center">
        I hope to see you out there soon!
    </h4>
    <hr>
    <div class="container">
        <div class="row align-items-center">
            <button onclick="window.location.href='/summary'" type="button" class="btn btn-center btn-lg btn-success">
                Submit
            </button>
        </div>
    </div>
</div>
<br><br><br><br>

<script>
    function showInputLesson() {
        document.getElementById("lessonFollowUp").style.display = "block";
    }
    function hideInputLesson() {
        document.getElementById("lessonFollowUp").style.display = "none";
    }
    function showInputNoLesson() {
        document.getElementById("nextTime").style.display = "block";
    }
    function hideInputNoLesson() {
        document.getElementById("nextTime").style.display = "none";
    }

    const inputFieldLessonWork = document.getElementById('lessonWork');
    const continueButtonSubmitContinue = document.getElementById('submitContinue');

    inputFieldLessonWork.addEventListener('input', activateSubmit);

    function activateSubmit() {
        const inputLessonWorkFilled = inputFieldLessonWork.value.trim() !== '';
        
        continueButtonSubmitContinue.disabled = !(inputLessonWorkFilled);
    };

    //Handle form Submission
    var lessonInfo = document.getElementById("lessonInfo");
    lessonInfo.addEventListener("submit", function(event) {
        event.preventDefault(); //Prevent formSubmission

        //Retrieve user input from form fields
        var lessonWork = document.getElementById("lessonWork").value;

        //Store the input values in local storage
        localStorage.setItem("lessonWork", lessonWork);
    });
</script>

{% endblock %}