{% extends "routes/layout.html" %}
{% block title %}
    Order Information
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<h1 class="text-center">Payment</h1>
<br>
<hr>
<br>
<div class="container">
    <p class="text-center">Payment, like this process, is very flexible. At Tennis Twine, we usually prefer to carry out 
        transactions through Venmo. However, both PayPal and cash are accepted as well! You have a couple options as to when to pay; one is 
        upon completing your order. The other is to wait until I get in contact with your shortly! I prefer the second approach 
        as no money is transfered before we make contact with one another!
    <br>
    <br>
        Follow the link to my <a href="https://venmo.com/u/Luke-Sparlin">Venmo</a> or <a href="https://www.paypal.me/LukeSparlin?locale.x=en_US">PayPal</a> , if you prefer the online payment method! 
        Otherwise, I will accept cash upon the reciept of the racket! I will confirm the cost of your purchase; you are encouraged 
        to calculate the sum of your order on your form page prior to my reaching out!
    </p>
</div>
{% endblock %}