{% extends "routes/layout.html" %}
{% block title %}
    Radius Information
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<h1 class="text-center">Radius of Travel</h1>
<p class="text-center">Press <a href="https://www.calcmaps.com/map-radius/">here</a> to visit an online radius mapping application to find your location in relationship <br>
    to the 20 mile radius with a centerpoint at OU. Type in the address below upon arriving to the website: <br>
<br>
    409 W Boyd St, <br>
    Norman, OK 73069
<br>
<br>
    After entering this address, select the <strong>"Radius Miles"</strong> drop-down menu. From here select the <strong>"20 mi"</strong> <br>
    option. You now have a circle with a 20 mile radius displayed on the map!<br>
    <br>
    Now, simply type in the address of the requested pick-up / delivery location. This action will zoom into the newly entered address which <br>
    you can then expand your view to see if the location is within the circle that was created. If the location is within the circle, then <br>
    the service will be the flate rate $5 which includes both the pick-up and the delivery. If this is not the case, then there <br>
    will be an additional 75 cent charge for each additional mile traveled!
    </p>
{% endblock %}