{% extends "routes/layout.html" %}
{% block title %}
    Schedule Exchange
{% endblock %}

{% block content %}
<div class="modal fade modal-dialog modal-dialog-centered" style="height: 100vh; display: none; top: 0" id="radiusModal">
    <div class="modal-dialog">
        <div class="modal-content" style="height: 90vh">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-center">Radius of Travel</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                A flat fee of $5 is charged for the delivery service within a 20 mile radius of the OU campus in Norman. <br>
                For each additional mile outside the initial 20, an additional $0.75 will be charged. <br><br>
                Within the radius includes: <br>
                <ul>
                    <li>Blanchard</li>
                    <li>Cole</li>
                    <li>Goldsby</li>
                    <li>Moore</li>
                    <li>Newcastle</li>
                    <li>Noble</li>
                    <li>Norman</li>
                    <li>Purcell</li>
                    <li>Slaughterville</li>
                    <li>Valley Brook</li>
                    <li>Washington</li>
                </ul>
                And parts of both Mustang and southern Oklahoma City 
                <br><br>
                To find your location within the radius, press the button below.
            </div>
            <div class="modal-footer">
                <a href="/radius" type="button" class="btn btn-center btn-info" target="_blank">More Information</a>
            </div>
        </div>
    </div>
</div>

<br><br><br>
<p class="text-center"><font color="red">*</font> = Required</p>
<div class="container text-center">
    <h2 class="text-center">
        The Exchange
    </h2>
    <div class="form-group row justify-content-center">
        <label for="confDel">
            Please confirm your desired means of transfer of the racket! <font color="red">*</font>
        </label>
        <div>
            <label>
                <input type="radio" id="deliveryService" name="confDel" value="5" required onclick="showInputCoordination(), hideInputThanks()">
                Let's do the pick-up/delivery service! 
                <font color="success">
                    $5
                </font>
            </label>
            <br>
            <label>
                <input type="radio" name="confDel" value="0" onclick="hideInputCoordination(), showInputThanks()">
                Transport your racket!
            </label>
        </div>

        <!--schedule delivery-->
        <div id="formAddress" style="display: none;">
            <br><hr>
            <h4 class="text-center">
                Schedule the Delivery Service Pick-Up
            </h4>
            <p class="text-center">
                Please select one day and time for your racket to be picked up from the address you provide at the bottom of the page.
            </p>
            <div class="row align-items-center" style="width: 100%; height: 70%;">
                    <iframe src="https://calendly.com/tennis-twine/30min" title="Calendly Pick-Up" width="100%" height="100%" class="border border-success"></iframe>
            </div>
            <br><hr>
            <h4 class="text-center">
                Schedule the Delivery Service Dropp-Off
            </h4>
            <p class="text-center">
                Please select one day and time for your racket to be dropped off to the address you provide at the bottom of the page.
            </p>
            <div class="row align-items-center" style="width: 100%; height: 70%;">
                    <iframe src="https://calendly.com/tennis-twine/tennis-twine-delivery-service-drop-off" title="Calendly Drop-Off" width="100%" height="100%" class="border border-success"></iframe>
            </div>
            <br><hr>    
            <h4 class="text-center">
                Pick-Up/Drop-Off Location
            </h4>
            <p>
                A flat fee of $5 is charged for the delivery service within a 20 mile radius of the OU campus in Norman. <br>
                For each additional mile outside the initial 20, an additional $0.75 will be charged. <br>
            </p>
            <a href="/radius" type="button" class="btn btn-center btn-info" target="_blank">More Information</a>
            <br><br>
            <div>
                <label>
                    Where should I come to pick-up and deliver your racket?
                </label>
            </div>
            <br>
            <div class="form-group row justify-content-center">
                <div class="col-md-4">
                    <form id="addressInfo">    
                        <label for="formStreet">
                            Street Address: <font color="red">*</font>
                        </label>
                        <input type="text" id="formStreet" class="form-control text-center" placeholder="123 Main Street" size="30" required>
                        <label for="formApt">
                            Apt/Suite/Other:
                        </label>
                        <input type="text" id="formApt" class="form-control" placeholder="Apt. 1A" size="20">
                        <label for="formCity">
                            City: <font color="red">*</font>
                        </label>
                        <input type="text" id="formCity" class="form-control" placeholder="City" size="20" required>
                        <label for="formState">
                            State: <font color="red">*</font>
                        </label>
                        <input type="text" id="formState" class="form-control" placeholder="State" size="2" maxlength="2" required>
                        <label for="formZip">
                            ZIP Code: <font color="red">*</font>
                        </label>
                        <input type="text" id="formZip" class="form-control" placeholder="12345" size="5" maxlength="5"  required>
                        <br>
                        <button onclick="enableContinueDeliveryButton(), changeColor()" type="submit" class="btn btn-success" id="saveAddress" disabled>
                            Confirm Address <font color="red">*</font>
                        </button>
                    </form>
                </div>
            </div>
            <br>
            <button onclick="window.location.href='/lesson'" type="button" id="deliveryServiceContinue" class="btn btn-center btn-lg btn-success" disabled>
                Last Question
            </button>
            <br><br><br><br><br><br>
        </div>
        
        <!--schedule meeting-->
        <div id="formThanks" style="display: none;">
            <br><hr>
            <h4 class="text-center">
                Schedule the Self-Drop-Off
            </h4>
            <p class="text-center">
                Please select one day and time for you to drop off your racket to the address at the bottom of the page. <br>
            </p>
            <div class="row align-items-center" style="width: 100%; height: 70%;">
                <iframe src="https://calendly.com/tennis-twine/30min" title="Calendly Self-Drop-Off" width="100%" height="100%" class="border border-success"></iframe>
            </div>
            <br><hr>
            <h4 class="text-center">
                Schedule the Self-Pick-Up
            </h4>
            <p class="text-center">
                Please select one day and time for you to pick up your racket from the address at the bottom of the page. <br>
            </p>
            <div class="row align-items-center" style="width: 100%; height: 70%;">
                <iframe src="https://calendly.com/tennis-twine/tennis-twine-delivery-service-drop-off" title="Calendly Self-Pick-Up" width="100%" height="100%" class="border border-success"></iframe>
            </div>
            <br><hr>
            <p class="text-center">
                We will meet at the address pasted below. I will be located at the campus transit bus stop on the north face of the building! <br>
                Please confirm that the address listed above will be the location of meeting.
            </p>
            <p class="text-center">
                2900 S Jenkins Ave <br>
                Norman, OK 73019 <br>
                United States
            </p>
            <div>
                <label>
                    <input onclick="enableContinuePersonalButton()" type="checkbox" id="confirmLocation" name="understand" value="understand">
                        I see where we are meeting! <font color="red">*</font>
                    </input>
                </label>
            </div>
            <br>
            <button onclick="window.location.href='/lesson'" id="personalDeliveryContinue" class="btn btn-center btn-lg btn-success" disabled>
                Last Question
            </button>
            <br><br><br><br><br><br>
        </div>

    </div>
</div>

    <script>
        function showInputCoordination() {
            document.getElementById("formAddress").style.display = "block";
        }
        function hideInputCoordination() {
            document.getElementById("formAddress").style.display = "none";
        }
        function showInputThanks() {
            document.getElementById("formThanks").style.display = "block";
        }
        function hideInputThanks() {
            document.getElementById("formThanks").style.display = "none";
        }
        function showBookingsModal() {
            $('#bookingsModal').modal('show');
        }
        function changeColor() {
            var button = document.getElementById("saveAddress");
            button.style.backgroundColor = "gray";
        }

        function enableDeliveryButton1() {
            document.getElementById('deliveryService1').disabled = false;
        }
        function enableDeliveryButton2() {
            document.getElementById('deliveryService2').disabled = false;
        }
        function enableContinueDeliveryButton() {
            document.getElementById('deliveryServiceContinue').disabled = false;
        }

        function enablePersonalButton1st() {
            document.getElementById('personalDelivery2').disabled = false;
        }
        function enablePersonalButton2nd() {
            document.getElementById('confirmLocation').disabled = false;
        }
        function enableContinuePersonalButton() {
            document.getElementById('personalDeliveryContinue').disabled = false;
        }

        const inputFieldStreet = document.getElementById('formStreet');
        const inputFieldCity = document.getElementById('formCity');
        const inputFieldState = document.getElementById('formState');
        const inputFieldZip = document.getElementById('formZip');
        const saveAddressButton = document.getElementById('saveAddress');

        inputFieldStreet.addEventListener('input', activateContinue);
        inputFieldCity.addEventListener('input', activateContinue);
        inputFieldState.addEventListener('input', activateContinue);
        inputFieldZip.addEventListener('input', activateContinue);

        function activateContinue() {
            const inputStreetFilled = inputFieldStreet.value.trim() !== '';
            const inputCityFilled = inputFieldCity.value.trim() !== '';
            const inputStateFilled = inputFieldState.value.trim() !== '';
            const inputZipFilled = inputFieldZip.value.trim() !== '';

            saveAddressButton.disabled = !(inputStreetFilled && inputCityFilled && inputStateFilled && inputZipFilled);
        }

        //Handle formSubmission
        var addressInfo = document.getElementById("addressInfo");
        addressInfo.addEventListener("submit", function(event) {
            event.preventDefault(); //Prevent form submission

            //Retrieve user input from form fields
            var street = document.getElementById("formStreet").value;
            var apt = document.getElementById("formApt").value;
            var city = document.getElementById("formCity").value;
            var state = document.getElementById("formState").value;
            var zip = document.getElementById("formZip").value;

            //Store the input values in local storage
            localStorage.setItem("formStreet", street);
            localStorage.setItem("formApt", apt);
            localStorage.setItem("formCity", city);
            localStorage.setItem("formState", state);
            localStorage.setItem("formZip", zip);
            addDeliveryPrice();
        });
        
        function addDeliveryPrice() {
            let confDel = document.getElementsByName("confDel");

            if (confDel[0].checked) {
                    localStorage.setItem("sumDeliveryService", 5);
                }
        }
    </script>
{% endblock %}