{% extends "routes/layout.html" %}
{% block title %}
    String Information
{% endblock %}

{% block content %} 
<br>
<br>
<br>
<br>
<h1 class="text-center">Transparency</h2>
<br>
<p class="text-center">The strings I carry are most likely not the strings that you will see your favorite pro sponsoring. <br>
This is because those strings are incredibly <b>expensive</b> to purchase in bulk amounts! <br>
However, I have included an option from each major string type which I will further discuss. <br>
To be clear, I would play on these strings (in fact, I do), and they perform exceptionally well!</p>
<br>
<hr>
<br>
<div class="container">
<div class="row align-items-center">
    <div class="col">
        <h2 class="text-center">Tourna Big Hitter Blue Rough Polyester String - 16 gauge (blue)</h2>
        <br>
        <p class="text-center">This is my preference and the one on which I play frequently. It is a polyester material which
            is very common in today's game. Its cross section is pentagonal which provides defined, rough edges. This rough 
            texture grabs onto the fuzz of the ball much better than a smooth string; the better grab provides for more spin 
            as you have increased torque on the ball during contact. This increases your spin on the ball, which therefore increases 
            your control of the ball. Because your control is maximized, you can put more power into the stroke. This is 
            especially good for a heavy hitter from the baseline.
            <br>
            The drawback is that you must sacrifice comfort; the polyester material does not obsorb the shock of impact like 
            the other materials we will discuss. Therefore, a lighter tension is recommended when using the polyester string. 
            Additionally, the aggresive texture of the string tends to lend to more breakages if you are playing frequently; this 
            is because the rough shape of the crosses will cut into the mains. I recommend a hybrid string job - polyester mains and 
            synthetic gut crosses - to mitigate this issue!
        </p>
        <img src="https://m.media-amazon.com/images/I/815NIHGLnRL._AC_SX679_.jpg" alt="Tourna Big Hitter Blue Rough Polyester String - 16 gauge (blue)" width="300" height="300" class="center">
    </div>
    <div class="col">
        <h2 class="text-center">Tourna Quasi Gut (Multifilament) String - 16 gauge (yellow)</h2>
        <br>
        <p class="text-center">This string is a multifilament string; rather than a single, solid string, this 
            is made up of many microfiber strings wraped together into a single unit. Multifilament string is a more expensive 
            purchase because of the manufaction process; however, thats my worry! This is a flat rate charge for our inventory, so 
            use whichever you prefer. Multifilament is also very kind on the body; it absorbs a significant amount of shock on contact 
            saving you from tennis elbow. The softness of the string makes this choice a much more forgiving option; the ball 
            will not spring off of your racket as it would from a polyester material. This means you will miss long much less!
            <br>
            However, you will be sacrifice a lot of aggresion in your game; it will take a noticable amount of effort to gain the 
            same power you had on the polyester string. This is not always bad; sometimes a more forgiving material saves the body and 
            some frustration! I recommend this string as either a full job, or as a hybrid; polyester in the mains and this multifilament 
            in the crosses.
        </p>
        <img src="https://www.tennisexpress.com/prodimages/20660-DEFAULT-l.jpg" alt="Tourna Quasi Gut (Multifilament) String - 16 gauge (yellow)" width="300" height="300" class="center">
    </div>
    <div class="col">
        <h2 class="text-center">Gamma Sports Synthetic Gut Tennis String - 16 gauge (white)</h2>
        <br>
        <p class="text-center">The synthetic gut string is a very primitive string. I would highly recommend this for beginners; however 
            for the rest of you, I would say that this should only be used in hybrid string jobs (specifically with polyester). This string 
            is similar to multifilament in that you have incredible control with this string, a soft feel of the ball, and a very safe 
            ability to not miss long. This string replicates the feel of a more dated string: gut. This gut string was used often at the 
            beginning of the sport and was made from animal intestines. With improvements in technology, the synthetic gut has its place 
            in the game; however, you should determine if that extends to a place in your racket! 
            <br>
            This place in your racket should almost always be in the crosses. The polyester should take residence in the mains. I personally 
            prefer an entire polyester string job, but I also do not mind stringing my own racket (this style of stringing leads to frequent breakages). I have used the synthetic gut 
            in the crosses while overcoming an arm injury; it was an incredible hybrid combo and helped me return to the game rapidly!
        </p>
        <img src="https://m.media-amazon.com/images/I/81WEMAtZBnL._AC_SL1500_.jpg" alt="Gamma Sports Synthetic Gut Tennis String - 16 gauge (white)" width="300" height="300" class="center">
    </div>
</div>    
</div>
<br>
<hr>
<br>
<h1 class="text-center">A Bit More!</h1>
<br>
<div class="container">
<p class="text-center">The 16 gauge displays the thickness of the string. A gauge of 15 is very thick while a gauge of 18 is very thin (I know, 
    seems a bit backwards). I chose 16 for these strings because the extra diameter will last a bit longer as you saw into the mains. The color 
    of each string also follows the name. This is for asthetic purposes; the color serves no functional purpose!</p>
<br>
    <div class="row align-items-center">
        <button onclick="window.location.href='/form'" type="button" class="btn btn-center btn-lg btn-success">To the Order Form!</button>
        <button onclick="window.location.href='/home'" tupe="button" class="btn btn-center btn-lg btn-success">Back to Home!
    </div>
</div>
            <hr>
            <br>
            <br>
            <br>
            <br>


{% endblock %}