{% extends "routes/layout.html" %}
{% block title %}
    About us
{% endblock %}

{% block content %}
<br><br><br>
<div class="container text-center">
    <h1 class="text-center">
        Your order has been submitted and will be reviewed shortly!
    </h1>
    <br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h3>
                    Pay With Venmo
                </h3>
                <a href="https://account.venmo.com/u/Luke-Sparlin" target="_blank" type="button" class="btn btn-center btn-lg" style="background-color: rgb(0, 140, 255); color: rgb(255, 255, 255)">
                    Venmo
                </a>
            </div>
            <div class="col">
                <p>
                    Payment options include: <br>
                    Venmo <br>
                    PayPal <br>
                    Cash Upon Exchange
                </p>
            </div>
            <div class="col">
                <h3>
                    Pay With PayPal
                </h3>
                <a href="https://www.paypal.com/paypalme/LukeSparlin?locale.x=en_US" target="_blank" type="button" class="btn btn-center btn-lg" style="background-color: rgb(41, 151, 216); color: rgb(37, 59, 128)">
                    PayPal
                </a>
            </div>
        </div>
    </div>
    <br><hr>
    <h5 class="text-center">
        I would like to thank you for your time filling out this form and for supporting a local student.
    </h5>
    <div class="form-group text-center">
        <label for="comment">
            How can we serve you better?
        </label>
        <textarea class="form-control mx-auto" rows="1" id="comment" style="width: 600px"></textarea>
    </div>
    <br>
    <h5 class="text-center">
        Within the day, I will reach out to you through the information which you provided <br>
        to finalize the details of the job, exchange, and any other aspects of the order.
    </h5>
    <br>
    <h5 class="text-center">
        Have a great rest of your day, and I will be in contact soon! If you have another order to make, <br>
        press the button below to begin a new request!
    </h5>
    <br><hr><br>
    <div class="row align-items-center">
        <button onclick="window.location.href='/'" type="button" class="btn btn-center btn-lg btn-success">Return Home</button>
    </div>
</div>
<br><br><br>
{% endblock %}