{% extends "routes/layout.html" %}
{% block title %}
    About us
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
    <h1 class="text-center">Your order has been submitted and will be reviewed shortly!</h1>
    <br>
    <hr>
    <br>
    <h4 class="text-center">I would like to thank you for your time filling out this form and for suppoting a local 
    <br>student. We hope that this experience proves to be a more convenient and efficient way for you to accomplish 
    <br>a necessary task in the sport of tennis.</h4>
    <br>
    <h4 class="text-center">I do apppreciate you choosing Tennis Twine to get some new string in your stick! <br>
    We look foward to seeing you soon, and I hope that we can do business again in the future. <br>
    Of course, feedback is always appreciated, so fill out the form below if you would like to see an improvement in this process!</h4>
    <br>
    <div class="form-group text-center">
        <label for="comment">How can we serve you better?</label>
        <textarea class="form-control mx-auto" rows="5" id="comment" style="width: 600px"></textarea>
    </div>
    <br>
    <h4 class="text-center">Within the day, I will reach out to you through the information which you provided <br>
    to finalize the details of the job, exchange, and any other aspects of the order, including the private <br>
    lesson option if it was checked.</h4>
    <br>
    <h4 class="text-center">Have a great rest of your day, and I will be in contact soon! If you have another order to make, <br>
    press the button below to begin a new request!</h4>
    <br>
    <hr>
    <br>
    <div class="row align-items-center">
        <button onclick="window.location.href='/'" type="button" class="btn btn-center btn-lg btn-success">Return Home</button>
    </div>
    <br>
    <br>
    <br>
    <br>
{% endblock %}