{% extends "routes/layout.html" %}
{% block title %}
    Order Summary
{% endblock %}

{% block content %}
<br><br><br>
<div class="container text-center">
    <h1 class="text-center">
        Your order has been submitted and will be reviewed shortly!
    </h1><br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h3>
                    Pay With Venmo
                </h3>
                <a href="https://account.venmo.com/u/Luke-Sparlin" target="_blank" type="button" class="btn btn-center btn-lg" style="background-color: rgb(0, 140, 255); color: rgb(255, 255, 255)">
                    Venmo
                </a>
            </div>
            <div class="col">
                <h5>
                    Payment options include:
                </h5>
                <h6>
                    <li>Venmo</li>
                    <li>PayPal</li>
                    <li>Cash</li>
                </h6>
            </div>
            <div class="col">
                <h3>
                    Pay With PayPal
                </h3>
                <a href="https://www.paypal.com/paypalme/LukeSparlin?locale.x=en_US" target="_blank" type="button" class="btn btn-center btn-lg" style="background-color: rgb(41, 151, 216); color: rgb(37, 59, 128)">
                    PayPal
                </a>
            </div>
        </div>
    </div>
    <br><hr><br>

    <div id="orderDetails"></div>
    <script>
        // Retrieve stored input values from local storage
        var name = localStorage.getItem("formName");
        var phone = localStorage.getItem("formPhone");
        var email = localStorage.getItem("formEmail");
        var racketType = localStorage.getItem("racketType");
        var stringMain = localStorage.getItem("stringMain");
        var stringCross = localStorage.getItem("stringCross");
        var tensionMain = localStorage.getItem("tensionMain");
        var tensionCross = localStorage.getItem("tensionCross");
        var street = localStorage.getItem("formStreet");
        var apt = localStorage.getItem("formApt");
        var city = localStorage.getItem("formCity");
        var state = localStorage.getItem("formState");
        var zip = localStorage.getItem("formZip");
        var lessonWork = localStorage.getItem("lessonWork");
        var sumString = localStorage.getItem("sumString");
        var sumDeliveryService = localStorage.getItem("sumDeliveryService");
        

        // Generate order summary HTML using the retrieved values
        if (racketType === null && street === null && lessonWork === null) {
            var orderSummaryHTML = `
            <h1>Order Details</h1>
            <h5>Contact Information</h5>
            <p>Name: ${name}</p>
            <p>Phone: ${phone}</p>
            <p>Email: ${email}</p>
            <h5>String Job Information</h5>
            <p>Customer Providing String</p>
            <h5>Exchange Address</h5>
            <p>
                2900 S Jenkins Ave <br>
                Norman, OK 73019 <br>
                United States
            </p>
            <h5>Lesson Interest</h5>
            <p>None</p>
            <h4>Total:</h4>
            <p>Labor: $10</p>
            <h6>Grand Total: $10</h6>
        `;
        }

        else if (racketType === null && street === null) {
        var orderSummaryHTML = `
            <h1>Order Details</h1>
            <h5>Contact Information</h5>
            <p>Name: ${name}</p>
            <p>Phone: ${phone}</p>
            <p>Email: ${email}</p>
            <h5>String Job Information</h5>
            <p>Customer Providing String</p>
            <h5>Exchange Address</h5>
            <p>
                2900 S Jenkins Ave <br>
                Norman, OK 73019 <br>
                United States
            </p>
            <h5>Lesson Interest</h5>
            <p>Lesson Focus: ${lessonWork}</p>
            <h4>Total:</h4>
            <p>Labor: $10</p>
            <h6>Grand Total: $10</h6>
        `;
        }

        else if (racketType === null && lessonWork === null) {
            var orderSummaryHTML = `
            <h1>Order Details</h1>
            <h5>Contact Information</h5>
            <p>Name: ${name}</p>
            <p>Phone: ${phone}</p>
            <p>Email: ${email}</p>
            <h5>String Job Information</h5>
            <p>Customer Providing String</p>
            <h5>Delivery Address</h5>
            <p>
                ${street} ${apt} <br>
                ${city}, ${state} ${zip}
            </p>
            <h5>Lesson Interest</h5>
            <p>None</p>
            <h4>Total:</h4>
            <p>Labor: $10</p>
            <p>Delivery Service (price within radius): $${sumDeliveryService}*</p>
            <h6>Grand Total: $${10 + parseInt(sumDeliveryService)}</h6>
        `;
        }

        else if (street === null && lessonWork === null) {
            var orderSummaryHTML = `
            <h1>Order Details</h1>
            <h5>Contact Information</h5>
            <p>Name: ${name}</p>
            <p>Phone: ${phone}</p>
            <p>Email: ${email}</p>
            <h5>String Job Information</h5>
            <p>Racket Type: ${racketType}</p>
            <p>String in Main: ${stringMain}</p>
            <p>String in Cross: ${stringCross}</p>
            <p>Tension in Main: ${tensionMain} lbs</p>
            <p>Tension in Cross: ${tensionCross} lbs</p>
            <h5>Exchange Address</h5>
            <p>
                2900 S Jenkins Ave <br>
                Norman, OK 73019 <br>
                United States
            </p>
            <h5>Lesson Interest</h5>
            <p>None</p>
            <h4>Total:</h4>
            <p>Labor: $10</p>
            <p>String: $${sumString}</p>
            <h6>Grand Total: $${10 + parseInt(sumString)}</h6>
        `;
        }

        else if (racketType === null) {
            var orderSummaryHTML = `
            <h1>Order Details</h1>
            <h5>Contact Information</h5>
            <p>Name: ${name}</p>
            <p>Phone: ${phone}</p>
            <p>Email: ${email}</p>
            <h5>String Job Information</h5>
            <p>Customer Providing String</p>
            <h5>Delivery Address</h5>
            <p>
                ${street} ${apt} <br>
                ${city}, ${state} ${zip}
            </p>
            <h5>Lesson Interest</h5>
            <p>Lesson Focus: ${lessonWork}</p>
            <h4>Total:</h4>
            <p>Labor: $10</p>
            <p>Delivery Service (price within radius): $${sumDeliveryService}*</p>
            <h6>Grand Total: $${10 + parseInt(sumDeliveryService)}</h6>
        `;
        }

        else if (street == null) {
            var orderSummaryHTML = `
            <h1>Order Details</h1>
            <h5>Contact Information</h5>
            <p>Name: ${name}</p>
            <p>Phone: ${phone}</p>
            <p>Email: ${email}</p>
            <h5>String Job Information</h5>
            <p>Racket Type: ${racketType}</p>
            <p>String in Main: ${stringMain}</p>
            <p>String in Cross: ${stringCross}</p>
            <p>Tension in Main: ${tensionMain} lbs</p>
            <p>Tension in Cross: ${tensionCross} lbs</p>
            <h5>Exchange Address</h5>
            <p>
                2900 S Jenkins Ave <br>
                Norman, OK 73019 <br>
                United States
            </p>
            <h5>Lesson Interest</h5>
            <p>Lesson Focus: ${lessonWork}</p>
            <h4>Total:</h4>
            <p>Labor: $10</p>
            <p>String: $${sumString}</p>
            <h6>Grand Total: $${10 + parseInt(sumString)}</h6>
        `;
        }

        else if (lessonWork === null) {
            var orderSummaryHTML = `
            <h1>Order Details</h1>
            <h5>Contact Information</h5>
            <p>Name: ${name}</p>
            <p>Phone: ${phone}</p>
            <p>Email: ${email}</p>
            <h5>String Job Information</h5>
            <p>Racket Type: ${racketType}</p>
            <p>String in Main: ${stringMain}</p>
            <p>String in Cross: ${stringCross}</p>
            <p>Tension in Main: ${tensionMain} lbs</p>
            <p>Tension in Cross: ${tensionCross} lbs</p>
            <h5>Delivery Address</h5>
            <p>
                ${street} ${apt} <br>
                ${city}, ${state} ${zip}
            </p>
            <h5>Lesson Interest</h5>
            <p>None</p>
            <h4>Total:</h4>
            <p>Labor: $10</p>
            <p>String: $${sumString}</p>
            <p>Delivery Service (price within radius): $${sumDeliveryService}*</p>
            <h6>Grand Total: $${10 + parseInt(sumString) + parseInt(sumDeliveryService)}</h6>
            `;
        }

        else {
            var orderSummaryHTML = `
            <h1>Order Details</h1>
            <h5>Contact Information</h5>
            <p>Name: ${name}</p>
            <p>Phone: ${phone}</p>
            <p>Email: ${email}</p>
            <h5>String Job Information</h5>
            <p>Racket Type: ${racketType}</p>
            <p>String in Main: ${stringMain}</p>
            <p>String in Cross: ${stringCross}</p>
            <p>Tension in Main: ${tensionMain} lbs</p>
            <p>Tension in Cross: ${tensionCross} lbs</p>
            <h5>Delivery Address</h5>
            <p>
                ${street} ${apt} <br>
                ${city}, ${state} ${zip}
            </p>
            <h5>Lesson Interest</h5>
            <p>Lesson Focus: ${lessonWork}</p>
            <h4>Total:</h4>
            <p>Labor: $10</p>
            <p>String: $${sumString}</p>
            <p>Delivery Service (price within radius): $${sumDeliveryService}</p>
            <h6>Grand Total: $${10 + parseInt(sumString) + parseInt(sumDeliveryService)}</h6>
            `;
        }

        // Display order summary
        var orderDetailsContainer = document.getElementById("orderDetails");
        orderDetailsContainer.innerHTML = orderSummaryHTML;

        // Clear the stored input values from local storage
        localStorage.removeItem("formName");
        localStorage.removeItem("formPhone");
        localStorage.removeItem("formEmail");
        localStorage.removeItem("racketType");
        localStorage.removeItem("stringMain");
        localStorage.removeItem("stringCross");
        localStorage.removeItem("tensionMain");
        localStorage.removeItem("tensionCross");
        localStorage.removeItem("formStreet");
        localStorage.removeItem("formApt");
        localStorage.removeItem("formCity");
        localStorage.removeItem("formState");
        localStorage.removeItem("formZip");
        localStorage.removeItem("lessonWork");
        localStorage.removeItem("sumString");
        localStorage.removeItem("sumDeliveryService");
    </script>
    <br><hr>
    <button onclick="window.location.href='/thanks'" type="button" class="btn btn-center btn-lg btn-success">
        Feedback and Thanks
    </button>
    <hr>
</div>
<br><br><br><br>
{% endblock %}