{% extends "routes/layout.html" %}
{% block title %}
    Order Information
{% endblock %}

{% block content %}
<br><br><br>
<div class="container text-center">
    <h2 class="text-center">
        Let's Talk Twine
    </h2>
    <div>
        <label>
            Would you like to use our string inventory? <br>
            <a href ="{{ url_for('routes.string') }}">Here</a>, you can learn about what we carry and why! <br>
            You should check this out before making selections!
        </label>
    </div>
    <br>
    <div>
        <label>
            <input type="radio" name="stringSource" value="yes" required onclick="showInputStringOpt(), hideFormNoInventory()">
            I will use the inventory!
        </label>
        <br>
        <label>
            <input type="radio" name="stringSource" value="no" onclick="hideInputStringOpt(), showFormNoInventory()">
            I will provide my own string!
        </label>
    </div>
    <br>

    <!--if using my inventory-->
    <div id="formInventory" style="display: none;">
        <div class="form-group row justify-content-center">
            <label for="racketType">
                What kind of racket do you use?
            </label>
            <div class="col-md-4">
                <input type="text" id="racketType" class="form-control text-center" placeholder="Babolat Pure Aero">
            </div>
            <br><br><br>
            <label>
                Strings requested in mains?
            </label>
            <label>
                <input type="radio" name="stringMain" value="10" id="mainString1" required>
                Tourna Big Hitter Blue Rough Polyester String - 16 gauge (blue) 
                <strong>
                    $5
                </strong>
            </label>
            <br>
            <label>
                <input type="radio" name="stringMain" id="mainString2" value="12">
                Kirschbaum Set Touch Multifibre (Multifilament) - 17 gauge (yellow) 
                <strong>
                    $6
                </strong>
            </label>
            <br>
            <label>
                <input type="radio" name="stringMain" id="mainString3" value="8">
                Gamma Sports Synthetic Gut Tennis String - 16 gauge (white) 
                <strong>
                    $4
                </strong>
            </label>
            <br><br>
            <label>
                Strings requested in crosses?
            </label>      
            <label>
                <input type="radio" name="stringCross" id="crossString1" value="10" required>
                Tourna Big Hitter Blue Rough Polyester String - 16 gauge (blue) 
                <strong>
                    $5
                </strong>
            </label>
            <br>
            <label>
                <input type="radio" name="stringCross" id="crossString2" value="12">
                Kirschbaum Set Touch Multifibre (Multifilament) - 17 gauge (yellow) 
                <strong>
                    $6
                </strong>
            </label>
            <br>
            <label>
                <input type="radio" name="stringCross" id="crossString3" value="8">
                Gamma Sports Synthetic Gut Tennis String - 16 gauge (white) 
                <strong>
                    $4
                </strong>
            </label>
            <br><br>
            <label for="tensionMain">
                Tension requested in mains? Enter "0" if you are not sure!
            </label>
            <div class="col-md-1">
                <input type="number" id="tensionMain" class="form-control text-center" placeholder="##" min="40" max="70">
            </div>
            <br>
            <label for="tensionCross">
                Tension requested in crosses? Enter "0" if you are not sure!
            </label>
            <br>
            <div class="col-md-1">
                <input type="number" id="tensionCross" class="form-control text-center" placeholder="##" min="40" max="70">
            </div>
            <br>
            <label for="prefferedString">
                If your preferred type is not available, please enter the current string that you use. <br>
                I will supplement this with the most similar string in my inventory. <br>
                Please make a selection for the main and cross strings above, and I will edit <br>
                the decision with the appropriate string time if needed. <br>
            </label>
            <div class="col-md-4">
                <input type="text" id="prefferedString" class="form-control text-center" placeholder="Tourna Big Hitter Black 7">
            </div>
            <br><br><br>
            <div class="row align-items-center">
                <button onclick="window.location.href='/schedule'" type="button" class="btn btn-center btn-large btn-success" id="continueButtonFromInventory" disabled>
                    Schedule Delivery
                </button>
            </div>
        </div>
    </div>

    <!--if not using my inventory-->
    <div id="formNoInventory" style="display: none">
        <div class="row align-items-center">
            <button onclick="window.location.href='/schedule'" type="button" class="btn btn-center btn-large btn-success" id="continueButtonFromNoInventory">
                Schedule Delivery
            </button>
        </div>
    </div>
</div>
<br><br><br>

<!--Javascript functions-->
<script>
    function showInputStringOpt() {
            document.getElementById("formInventory").style.display = "block";
        }
    function hideInputStringOpt() {
            document.getElementById("formInventory").style.display = "none";
        }
    function showFormNoInventory() {
            document.getElementById("formNoInventory").style.display = "block";
        }
    function hideFormNoInventory() {
            document.getElementById("formNoInventory").style.display = "none";
        }

    const inputFieldRacketType = document.getElementById('racketType');
    const inputFieldMainString1 = document.getElementById('mainString1');
    const inputFieldMainString2 = document.getElementById('mainString2');
    const inputFieldMainString3 = document.getElementById('mainString3');
    const inputFieldCrossString1 = document.getElementById('crossString1');
    const inputFieldCrossString2 = document.getElementById('crossString2');
    const inputFieldCrossString3 = document.getElementById('crossString3');
    const inputFieldTensionMain = document.getElementById('tensionMain');
    const inputFieldTensionCross = document.getElementById('tensionCross');
    const inputFieldPrefferedString = document.getElementById('prefferedString');
    const continueButtonFromAddress = document.getElementById('continueButtonFromInventory');

    inputFieldRacketType.addEventListener('input', activateContinue);
    inputFieldMainString1.addEventListener('input', activateContinue);
    inputFieldMainString2.addEventListener('input', activateContinue);
    inputFieldMainString3.addEventListener('input', activateContinue);
    inputFieldCrossString1.addEventListener('input', activateContinue);
    inputFieldCrossString2.addEventListener('input', activateContinue);
    inputFieldCrossString3.addEventListener('input', activateContinue);
    inputFieldTensionMain.addEventListener('input', activateContinue);
    inputFieldTensionCross.addEventListener('input', activateContinue);
    inputFieldPrefferedString.addEventListener('input', activateContinue);

    function activateContinue() {
        const inputRacketTypeFilled = inputFieldRacketType.value.trim() !== '';
        const inputMainStringFilled = inputFieldMainString1.checked || inputFieldMainString2.checked || inputFieldMainString3.checked;
        const inputCrossStringFilled = inputFieldCrossString1.checked || inputFieldCrossString2.checked || inputFieldCrossString3.checked;
        const inputTensionMainFilled = inputFieldTensionMain.value.trim() !== '';
        const inputTensionCrossFilled = inputFieldTensionCross.value.trim() !== '';
        const inputPrefferedStringFilled = inputFieldPrefferedString.value.trim() !== '';

        continueButtonFromAddress.disabled = !(inputRacketTypeFilled && ((inputMainStringFilled && inputCrossStringFilled) || inputPrefferedStringFilled) && inputTensionMainFilled && inputTensionCrossFilled);
    }
</script>
{% endblock %}