{% extends "routes/layout.html" %}
{% block title %}
    Order Information
{% endblock %}

{% block content %}
<div class="modal fade modal-dialog modal-xl modal-dialog-centered" style="display: none; top: 0" id="polyesterModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-centered">Polyester String Option</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2 class="text-center">
                    Tourna Big Hitter Blue Rough Polyester String - 16 gauge (blue) <strong>$5</strong>
                </h2>
                <br>
                <p class="text-center">
                    This is my preference and the one on which I play frequently. It is a polyester material which
                    is very common in today's game. The cross section is pentagonal which provides defined, rough edges. This rough 
                    texture grabs onto the fuzz of the ball much better than a smooth string; the better grab provides for more spin 
                    as you have increased torque on the ball during contact. This increases your spin on the ball, which therefore increases 
                    your control of the ball. Because your control is maximized, you can put more power into the stroke. This is 
                    especially good for a heavy hitter from the baseline.
                    <br><br>
                    The drawback is that you must sacrifice comfort; the polyester material does not obsorb the shock of impact like 
                    the other materials we will discuss. Therefore, a lighter tension is recommended when using the polyester string. 
                    Additionally, the aggresive texture of the string tends to lend to more breakages if you are playing frequently; this 
                    is because the rough shape of the crosses will cut into the mains. I recommend a hybrid string job - polyester mains and 
                    synthetic gut crosses - to mitigate this issue!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-dialog modal-xl modal-dialog-centered" style="display: none;  top: 0" id="multifilamentModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-center">Multifilament String Option</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2 class="text-center">
                    Kirschbaum Set Touch Multifibre (Multifilament) - 17 gauge (yellow) <strong>$6</strong>
                </h2>
                <br>
                <p class="text-center">
                    Rather than a single, solid string, this is made up of many microfiber strings wraped together into a single unit. 
                    Multifilament string is a more expensive purchase because of the manufaction process; however, we do our best to 
                    insulate this from affecting your purchase! Multifilament is also very kind on the body; it absorbs a significant 
                    amount of shock on contact saving you from tennis elbow. The softness of the string makes this choice a much more 
                    forgiving option; the ball will not spring off of your racket as it would from a polyester material. This means you will miss long much less!
                    <br><br>
                    However, you will be sacrifice a lot of aggresion in your game; it will take a noticable amount of effort to gain the 
                    same power you had on the polyester string. This is not always bad; sometimes a more forgiving material saves the body and 
                    some frustration! I recommend this string as either a full job, or as a hybrid: polyester in the mains and this multifilament 
                    in the crosses. Additionally, expect a visual fray of the string over time; the fibers will pull from one another, but the 
                    strings are still playable!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-dialog modal-xl modal-dialog-centered" style="display: none; top: 0" id="syntheticGutModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-center">Synthetic Gut Option</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2 class="text-center">
                    Gamma Sports Synthetic Gut Tennis String - 16 gauge (white) <strong>$4</strong>
                </h2>
                <br>
                <p class="text-center">
                    The synthetic gut string is a very primitive string. I would highly recommend this for beginners; however 
                    for the rest of you, I would say that this should only be used in hybrid string jobs (specifically with polyester). This string 
                    is similar to multifilament in that you have incredible control, a soft feel of the ball, and a very safe 
                    ability to not miss long. This string replicates the feel of a more dated string: gut. This gut string was used at the 
                    beginning of the sport and was made from animal intestines. With improvements in technology, the synthetic gut has its place 
                    in the game; however, you should determine if that extends to a place in your racket! 
                    <br><br>
                    This place in your racket should almost always be in the crosses. The polyester should take residence in the mains. I personally 
                    prefer an entire polyester string job, but I also do not mind stringing my own racket (this style of stringing leads to frequent breakages). I have used the synthetic gut 
                    in the crosses while overcoming an arm injury; it was an incredible hybrid combo and helped me return to the game rapidly!
                </p>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<div class="container text-center">
    <h2 class="text-center">
        Let's Talk Twine
    </h2>
    <div>
        <label for="stringSource">
            Would you like to use our string inventory? <br>
            You should check this out before making selections! <font color="red">*</font>
        </label>
    </div>
    <br>
    <div>
        <label>
            <input type="radio" name="stringSource" value="yes" required onclick="showInputStringOpt(), hideFormNoInventory()">
            I will use the inventory!
        </label>
        <br>
        <label>
            <input type="radio" name="stringSource" value="no" onclick="hideInputStringOpt(), showFormNoInventory()">
            I will provide my own string!
        </label>
    </div>
    <br>

    <!--if using my inventory-->
    <div id="formInventory" style="display: none;">
        <div class="form-group row justify-content-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        <h5 class="text-center">
                            Polyester String Option
                        </h5>
                        <button class="btn btn-success" id="polyester" data-bs-toggle="modal" data-bs-target="#polyesterModal">
                            Big Hitter Blue Rough
                        </button>
                    </div>
                    <div class="col">
                        <h5 class="text-center">
                            Multifilament Option
                        </h5>
                        <button class="btn btn-success" id="multifilament" data-bs-toggle="modal" data-bs-target="#multifilamentModal">
                            Kirschbaum Set Touch
                        </button>
                    </div>
                    <div class="col">
                        <h5 class="text-center">
                            Synthetic Gut Option
                        </h5>
                        <button class="btn btn-success" id="syntheticGut" data-bs-toggle="modal" data-bs-target="#syntheticGutModal">
                            Gamma Sports
                        </button>
                    </div>
                </div>
            </div>
            <br><br><br><br>
            <label for="racketType">
                What kind of racket do you use? <font color="red">*</font>
            </label>
            <div class="col-md-4">
                <input type="text" id="racketType" class="form-control text-center" placeholder="Babolat Pure Aero">
            </div>
            <br><br><br>
            <label>
                Strings requested in mains? <font color="blue">*</font>
            </label>
            <label>
                <input type="radio" name="stringMain" value="10" id="mainString1" required>
                Tourna Big Hitter Blue Rough Polyester String - 16 gauge (blue) 
                <font color="success">
                    $5
                </font>
            </label>
            <br>
            <label>
                <input type="radio" name="stringMain" id="mainString2" value="12">
                Kirschbaum Set Touch Multifibre (Multifilament) - 17 gauge (yellow) 
                <font color="success">
                    $6
                </font>
            </label>
            <br>
            <label>
                <input type="radio" name="stringMain" id="mainString3" value="8">
                Gamma Sports Synthetic Gut Tennis String - 16 gauge (white) 
                <font color="success">
                    $4
                </font>
            </label>
            <br><br>
            <label>
                Strings requested in crosses? <font color="blue">*</font>
            </label>      
            <label>
                <input type="radio" name="stringCross" id="crossString1" value="10" required>
                Tourna Big Hitter Blue Rough Polyester String - 16 gauge (blue) 
                <font color="success">
                    $5
                </font>
            </label>
            <br>
            <label>
                <input type="radio" name="stringCross" id="crossString2" value="12">
                Kirschbaum Set Touch Multifibre (Multifilament) - 17 gauge (yellow) 
                <font color="success">
                    $6
                </font>
            </label>
            <br>
            <label>
                <input type="radio" name="stringCross" id="crossString3" value="8">
                Gamma Sports Synthetic Gut Tennis String - 16 gauge (white) 
                <font color="success">
                    $4
                </font>
            </label>
            <br><br>
            <label for="tensionMain">
                Tension requested in mains? <font color="red">*</font>
            </label>
            <div class="col-md-1">
                <input type="number" id="tensionMain" class="form-control text-center" placeholder="##" min="40" max="70">
            </div>
            <br>
            <label for="tensionCross">
                Tension requested in crosses? <font color="red">*</font>
            </label>
            <br>
            <div class="col-md-1">
                <input type="number" id="tensionCross" class="form-control text-center" placeholder="##" min="40" max="70">
            </div>
            <br>
            <label for="prefferedString">
                If your preferred type is not available, please enter the current string that you use. <br>
                I will supplement this with the most similar string in my inventory. <br>
                Please make a selection for the main and cross strings above, and I will edit <br>
                the decision with the appropriate string time if needed. <font color="blue">*</font><br>
            </label>
            <div class="col-md-4">
                <input type="text" id="prefferedString" class="form-control text-center" placeholder="Tourna Big Hitter Black 7">
            </div>
            <br><br><br>
            <div class="row align-items-center">
                <button onclick="window.location.href='/schedule'" type="button" class="btn btn-center btn-large btn-success" id="continueButtonFromInventory" disabled>
                    Schedule Exchange
                </button>
            </div>
            <br><br><br>    
            <p><font color="red">*</font> Required</p>
            <p><font color="blue">*</font> Select either strings requested in mains and crosses, <strong>or</strong> provide current/preferred string type.</p>
        </div>
    </div>

    <!--if not using my inventory-->
    <div id="formNoInventory" style="display: none">
        <div class="row align-items-center">
            <button onclick="window.location.href='/schedule'" type="button" class="btn btn-center btn-large btn-success" id="continueButtonFromNoInventory">
                Schedule Exchange
            </button>
        </div>
    </div>
</div>
<br><br><br>

<!--Javascript functions-->
<script>
    function showInputStringOpt() {
            document.getElementById("formInventory").style.display = "block";
        }
    function hideInputStringOpt() {
            document.getElementById("formInventory").style.display = "none";
        }
    function showFormNoInventory() {
            document.getElementById("formNoInventory").style.display = "block";
        }
    function hideFormNoInventory() {
            document.getElementById("formNoInventory").style.display = "none";
        }

    const inputFieldRacketType = document.getElementById('racketType');
    const inputFieldMainString1 = document.getElementById('mainString1');
    const inputFieldMainString2 = document.getElementById('mainString2');
    const inputFieldMainString3 = document.getElementById('mainString3');
    const inputFieldCrossString1 = document.getElementById('crossString1');
    const inputFieldCrossString2 = document.getElementById('crossString2');
    const inputFieldCrossString3 = document.getElementById('crossString3');
    const inputFieldTensionMain = document.getElementById('tensionMain');
    const inputFieldTensionCross = document.getElementById('tensionCross');
    const inputFieldPrefferedString = document.getElementById('prefferedString');
    const continueButtonFromAddress = document.getElementById('continueButtonFromInventory');

    inputFieldRacketType.addEventListener('input', activateContinue);
    inputFieldMainString1.addEventListener('input', activateContinue);
    inputFieldMainString2.addEventListener('input', activateContinue);
    inputFieldMainString3.addEventListener('input', activateContinue);
    inputFieldCrossString1.addEventListener('input', activateContinue);
    inputFieldCrossString2.addEventListener('input', activateContinue);
    inputFieldCrossString3.addEventListener('input', activateContinue);
    inputFieldTensionMain.addEventListener('input', activateContinue);
    inputFieldTensionCross.addEventListener('input', activateContinue);
    inputFieldPrefferedString.addEventListener('input', activateContinue);

    function activateContinue() {
        const inputRacketTypeFilled = inputFieldRacketType.value.trim() !== '';
        const inputMainStringFilled = inputFieldMainString1.checked || inputFieldMainString2.checked || inputFieldMainString3.checked;
        const inputCrossStringFilled = inputFieldCrossString1.checked || inputFieldCrossString2.checked || inputFieldCrossString3.checked;
        const inputTensionMainFilled = inputFieldTensionMain.value.trim() !== '';
        const inputTensionCrossFilled = inputFieldTensionCross.value.trim() !== '';
        const inputPrefferedStringFilled = inputFieldPrefferedString.value.trim() !== '';

        continueButtonFromAddress.disabled = !(inputRacketTypeFilled && ((inputMainStringFilled && inputCrossStringFilled) || inputPrefferedStringFilled) && inputTensionMainFilled && inputTensionCrossFilled);
    }
</script>
{% endblock %}