{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1 class="text-center">Welcome!</h1>
    <p class="text-center">Whether you are just beginning your tennis journey,<br>
        or you are an experienced player, new strings are a part of<br>
        the game. Don't let the inconvenience of a string job keep you off the court!<br>
        Here, your racket is picked up by, or dropped off to, the stringer and returned to<br>
        you by the day that you request!</p>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h2>Our Mission!</h2>
                <p>At Tennis Twine, we recognize that there are...</p>
            </div>
            <div class="col">
                <h2>Our Service</h2>
                <p>Through this site, we guide you...</p>
            </div>
            <div class="col">
                <h2>How to Get Started</h2>
                <p>To begin, we ask that you...</p>
            </div>
        </div>
    </div>
{% endblock %}